<div ng-app="jumbotron" ng-controller="AboutCtrl" id="aboutApp">
    <h1>About Sunny Weather App</h1>
    <p>A weather application assignment created for WATS4000 at Seattle University by Jiun Wang (2017)</p>
    <h3>Tools</h3>
    <ul>
        <li>Using AngularJS, a Single Page Application Framework (SPAF)</li>
        <li>Added Bootstrap and SASS</li>
        <li>Data from the <a href="OpenWeatherMap.org">Open Weather Map</a>" API</li>
    </ul>

    <h3>Features</h3>
    <ul>
        <li>Search for Weather by City or Zip Code</li>
        <li>Will display a search query list if multiple city names exist</li>
        <li>Ability to view current temperature, high and low, wind, and cloud conditions</li>
        <li>Can check the 7-day weather forecast</li>
        <li>Save cities to a list on the Homepage</li>
    </ul>
</div>

